<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header :: header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <label for="postId" >게시글 번호</label>
        <input type="text" id="postId" name="postId" class="form-control" value="1" th:value="${post.id}" readonly>
    </div>
    <div>
        <label for="postName">게시글 제목</label>
        <input type="text" id="postName" name="postName" class="form-control" value="title" th:value="${post.title}" readonly>
    </div>
    <div>
        <label for="postAuthor">게시글 저자</label>
        <input type="text" id="postAuthor" name="postAuthor" class="form-control" value="user" th:value="${post.author}" readonly>
    </div>
    <div>
        <label for="postContent">게시글 내용</label>
        <input type="text" id="postContent" name="postContent" class="form-control" value="content" th:value="${post.content}" readonly>
    </div>

<hr class="my-4">

<div class="row">
    <div class="col">
        <button class="w-100 btn btn-primary btn-lg"
                onclick="location.href='editForm.html'"
                th:onclick="|location.href='@{/posts/{postId}/edit(postId=${post.id})}'|"
                type="button">게시글 수정</button>
    </div>
    <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                onclick="location.href='allPosts.html'"
                th:onclick="|location.href='@{/posts/}'|"
                type="button">목록으로</button>
    </div>
</div>
</body>
<footer th:insert="~{fragments/footer :: footer}"></footer>
</html>